<h2>Welcome to Student Information System</h2>

<h3 style="font:italic;">Website link: https://sinatra-assignment2.herokuapp.com/home</h3>

<p>Students information can be viewed under "Students" tab by registered users.</p>
<p>Please create an account or login to your existing account if you would like to view students information.</p>
<p>Comments can be created under "Comment" tab by any user.</p>

