<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= @title || "Student Information System" %></title>
	<link href="/styles.css" rel="stylesheet", type="text/css"> 
</head> 

<body>
	<header> 
		<img class="header_logo" src="/images/students.png" alt="Student Picture" width="500" height="300" align="left">
		<h1 style="text-align: right">Student</h1>
		<h1 style="text-align: right">Information</h1>
		<h1 style="text-align: right">System</h1>
	</header>

	<nav>
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/students">Students</a></li>
			<li><a href="/comment">Comment</a></li>
			<li><a href="/video">Video</a></li>
			<% if session[:admin] %>
				<li><a href="/logout">Logout</a></li>	
			<% else %>
				<li><a href="/login">Login</a></li>
			<% end %> 
		</ul>
	</nav>

	<%= yield %> <!--allow individual page to have its own content -->
</body>
</html>
